<div class="post-container">
  <img src="assets/ficodiarieslogo2.png" class="logo" />

  <div class="post-header">
    <h3 class="post-title">{{ title }}</h3>
    <p class="post-author">{{ author }}</p>
  </div>

  <div class="post">
    <div class="post-content">
      <div class="story-content">{{ content }}</div>

      <img
        [src]="storyImage"
        class="content-image"
        alt="Story Image"
      />
    </div>
  </div>

  <div class="post-footer">
    <button class="like-button" (click)="toggleLike()">
      {{ isLiked ? '♥' : '♡' }}
    </button>

    <div class="date-added">
      Date added: <span>{{ postDate | date: 'mediumDate' }}</span>
    </div>
  </div>
</div>

<app-bottom-nav></app-bottom-nav>