<nav class="d-flex justify-content-around align-items-center text-light py-2">
  <a routerLink="/home" class="text-center text-decoration-none text-light">
    <mat-icon class="fs-4">home</mat-icon>
    <div class="small">Home</div>
  </a>
  <a routerLink="/add-story" class="text-center text-decoration-none text-light">
    <mat-icon class="fs-4">add_circle_outline</mat-icon>
    <div class="small">Add Story</div>
  </a>
  <a routerLink="/space" class="text-center text-decoration-none text-light">
    <mat-icon class="fs-4">explore</mat-icon>
    <div class="small">Space</div>
  </a>
</nav>

