<nav class="d-flex justify-content-around align-items-center text-light py-2">
    <a routerLink="/home" class="text-center text-decoration-none text-light">
      <i class="bi bi-star fs-4"></i>
      <div class="small">Home</div>
    </a>
    <a routerLink="/add-story" class="text-center text-decoration-none text-light">
      <i class="bi bi-star fs-4"></i>
      <div class="small">Add Story</div>
    </a>
    <a routerLink="/space" class="text-center text-decoration-none text-light">
      <i class="bi bi-star fs-4"></i>
      <div class="small">Space</div>
    </a>
  </nav>
